
.process-section {

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  text-align: center;

}

.process-title {
  font-size: 28px;
  font-weight: 700;
  color: #1e2a5a; /* dark blue */
  margin-bottom: 10px;
}

.process-subtitle {
  font-size: 14px;
  color: #6b7280; /* grey text */
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto;
}

.feature-list {

  padding: 20px 10px;
  border-radius: 10px;
  max-width: 500px;
}

h5.fw-bold.mb-2.rang-head {
    color: #1A2259;
    font-size: 22px;
    font-weight: 600 !important;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 20px  !important;
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 14px;
}

.feature-item:last-child {
  margin-bottom: 0;
}

/* Dot circle */
.dot-blue {
  width: 6px;
  height: 6px;
  background-color: #234e8f;/* blue */
  border-radius: 50%;
  position: relative;
}

/* outer soft circle */
.dot-blue::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: rgba(37, 99, 235, 0.15);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-list-orange {

  padding: 20px 24px;
  border-radius: 10px;
  max-width: 500px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 14px;
}

.feature-item:last-child {
  margin-bottom: 0;
}

/* Orange dot */
.dot-orange {
  width: 6px;
  height: 6px;
  background-color: #E33A02; /* 🔥 orange */
  border-radius: 50%;
  position: relative;
}

/* soft outer glow */
.dot-orange::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: rgba(249, 115, 22, 0.2); /* light orange */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.dots-texts {
    font-size: 16px;
    font-weight: 500;
    color: #4D5260;
}

